#container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#canvas-container {
  height: 55vh;
  width: 50vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  border-bottom: 0px;
  border-top: 0px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.336);
}

.triangle-background {
  height: 5vh;
  width: 25vw;
  z-index: -1;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.336);
}
#orange-background {
  background-color: rgb(255, 136, 0);
}
#black-background {
  background-color: rgb(0, 0, 0);
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 900px) {
  #canvas-container {
    width: 80vw;
    height: 30vh;
  }
  .triangle-background {
    width: 10vw;
  }
}
