.active-modal-contact {
  overflow-x: hidden;
  overflow-y: hidden;
}
#container-catalogue {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  z-index: -10;
}

#info-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  padding-block: 10px;
  width: fit-content;
  display: flex;
  color: black;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: fit-content;
}
.info-img {
  padding-inline: 10px;
  font-size: 0.9rem;
  height: fit-content;
  width: fit-content;
  user-select: none;
  font-weight: 400;
  color: black;
}
.button-info {
  user-select: none;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 100%;
  border: 2.5px solid rgb(255, 102, 0);
  color: rgb(236, 189, 155);
  transition: all 0.25s ease-in-out;
}
.button-info:hover,
.info-img:hover ~ .button-info {
  color: rgb(255, 102, 0);
  border: 2px solid rgb(0, 0, 0);
}
.button-info::before {
  content: ">";
  position: relative;
  left: 2px;
  bottom: 2px;
}

#modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(148, 148, 148, 0.856);
}
#modal {
  z-index: 40;
  width: 100%;
  max-width: 1100px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  animation: windowOpen 0.25s ease-out;
}
#close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.808);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: auto;
  margin-top: -15px;
  animation: slideInFromBottom 0.65s ease-out;
  transition: all 0.25s ease-in-out;
}
#img-container {
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#close-btn:hover {
  rotate: 45deg;
}
@keyframes windowOpen {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media only screen and (min-width: 600px) {
  #modal {
    max-width: 65vw;
  }
  .info-img {
    font-size: 1.15rem;
  }
  .button-info {
    height: 25px;
    width: 25px;
    font-size: 1.5rem;
  }
  #close-btn {
    height: 30px;
    width: 30px;
    margin-top: -20px;
  }
  #img-container {
    height: 75vh;
  }
}

@media only screen and (min-width: 900px) {
  #modal {
    max-width: 55vw;
  }
  #container-catalogue {
    width: 100vw;
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fill, minmax(calc(50%), 1fr));
  }
  #grid-img-container {
    height: auto;
    width: auto;
    overflow: hidden;
  }
  #img-container {
    height: 95vh;
    max-height: 600px;
    width: 50vw;
    background-position: center;
    background-size: cover;
    line-height: 0;
    transition: transform 3s ease;
  }

  #img-container:hover {
    transform: scale(1.03);
  }

  .info-img {
    font-size: 1.5rem;
  }
  .button-info {
    font-size: 2rem;
  }
  #close-btn {
    height: 40px;
    width: 40px;
    margin-top: -20px;
  }
}

@media only screen and (min-width: 1200px) {
  #modal {
    max-width: 50vw;
  }
  .info-img {
    font-size: 2rem;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(-200%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
